--index-url=https://artifactory.k8s.devops.s-9.us/artifactory/api/pypi/pypi/simple

black
fastai
fastprogress
fire
flake8
flake8-docstrings
flake8-import-order
ipdb
jupyterlab
mlflow
nb_black
pandas
pyarrow
s3fs
tensorboardX
torch
torchtext
torchvision
tqdm>=4.33.0
