black
fastai==1.0.59
fastprogress
fire
flake8
flake8-docstrings
flake8-import-order
ipdb
jupyterlab
mlflow
nb_black
pandas
pillow<7
pyarrow
s3fs
tensorboardX
torch==1.3.1
torchtext==0.4.0
torchvision==0.2.1
tqdm>=4.33.0
