name: Automate Docker Image Build and Push

on:
  push:
    branches: automate-image-build

env:
  IMAGE_NAME: autofocus-serve
  DOCKERFILE_DIR: autofocus/predict
  DOCKERHUB_USER: davidwilby

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: AWS CLI install action
        uses: chrislennon/action-aws-cli@1.1
      -
        name: Load model file from AWS
        run: |
          aws s3 cp s3://autofocus/models/multilabel_model_20190407.pkl ${{ env.DOCKERFILE_DIR }}/models/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ${{ env.DOCKERFILE_DIR }}
          file: ${{ env.DOCKERFILE_DIR }}/Dockerfile
          push: true
          tags: ${{ env.DOCKERHUB_USER }}/${{ env.IMAGE_NAME }}:latest
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
